body{
	background-color:rgba(255, 99, 71, 0.6);
}


#h2-jobs{
	position: relative; 
	top: 120px; 
	text-align: center; 
	background-color: rgba(255, 99, 71, 1); 
	color: white; 
	padding: 10px;
}

/**section jobs style**/
#sec-jobs{
	position: relative; top: 124px;
}



 #col-jobs{
	background-color: #f0ede1; 
	margin: 20px; 
	padding: 15px;
}

#h4-style{
	border: 3px solid white; 
	margin: 14px; 
	padding: 20px;
	
}

h3{
	text-align: center;
}

#hr-h3{
	width: 61px; 
	border: 7px solid; 
	color: rgba(255, 99, 71, 1)
}

#p-jobs{
	text-align: center; 
	padding:10px;
}

h5{
	text-align: center; 
	padding-bottom: 13px;
}

#a-cv{
  background-color: rgba(255, 99, 71, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer; border-radius: 4px;
  width: 130px;
}




/**mobile**/
 @media screen and (max-width: 1310px) {
	 
#h2-jobs{
	position: relative; 
	top: 42px; 
}
#sec-jobs{
	position: relative; top: 58px;
}

 
  }






















