body{
	background-color:rgba(255, 99, 71, 0.6);
}


header{
  position: relative; top: 32px;
  text-align: center;
  color: white;
}

.head-img-st{
	position: relative; top: 80px;
}


#separator-div{
	width:100%;
	height:15px;
	margin-top:10px;
	margin-bottom: 60px; 
	font-size: 30px;
	
}


.h2-store{
	position: relative; top: 90px; 
	text-align: center;text-align: center; 
	background-color: rgba(255, 99, 71, 1); 
	color: white; 
	padding: 10px;
}

/**section store**/
.section-store{
	text-align:center; 
	margin-left: 102px; 
	margin-right:102px; 
	background-color:white; 
	position: relative; top: 129px;
}


#img-st{
	width: 70%;
}

#h4-st{
	display: inline-block;
	background-color: rgba(255, 99, 71, 1);
	padding: 10px;
	color: white;
}


#new-sale{
	position: absolute; 
	background-color: red; 
	color:white; 
	padding: 6px;
}


footer{
	position: relative; top: 200px;
}


@media screen and (max-width: 576px) {


 }
 
@media screen and (max-width: 768px) { 
.section-store{
	margin-left: 0;
	margin-right: 0;
}

 }

  
@media screen and (max-width: 992px) {
 
  }
  
@media screen and (max-width: 1310px) {
	  .h2-store{
	position: relative; top: 0px; 
	
}

.head-img-st{
	position: relative; top: -8px;
}

.section-store{
	position: relative; top: 53px;
}

  }







