
body{
	background-color:rgba(255, 99, 71, 0.6);
}

header{
	position: relative; top: 100px; background-color: white
}


#h2-st{
	position: relative; 
	top: 115px; 
	text-align: center; 
	color: white; 
	background-color: rgba(255, 99, 71, 1); 
	padding:10px;"
}


#col-st{
	background-color: pink; 
	margin: 10px;
}

#border-div{
	border: 2px solid white; 
	margin: 10px;
}

h3{
	padding: 10px;
}

#p-st{
	padding: 10px;
}

#sec-studio{
	position: relative; top: 119px;
}


/****form studio*****/
.form-control-st{
	border-radius: 6px;
	padding: 8px;
	margin-right: 7px;
	border: 0;
	height: 52px;
}
.form-control-sub{
	border-radius: 6px;
	padding: 8px;
	margin-right: 7px;
	border: 0;
	background-color: black;
	color: white;
	height: 52px;
}


/**mobile**/
@media screen and (max-width: 576px) {
    .modal-content{
		width: 100%;
	}
	
	
	#st-class{
		width: 100%;
	}
	
  }
  
  
  @media screen and (max-width: 768px) { 
  #st-class{
		width: 100%;
	}
 }
  
  
  
  
  @media screen and (max-width: 992px) {
 
  }
  
  @media screen and (max-width: 1310px) {
	  #h2-st{
	position: relative; 
	top: 44px; 
   }
   
   #sec-studio{
	   position: relative; top: 64px;
   }
 
  }




