body {
 background-color:rgba(255, 99, 71, 0.6)
}

.gallery{
background-color: #f0ede1;
border-bottom: 3px dashed orange;
border-top: 3px dashed orange;
}

.gallery img{
filter: grayscale(100%);
transition: 1s;
}
.gallery img:hover{
filter: grayscale(0);
}


.h2-gallery{
	position: relative; top: 118px; 
	text-align: center;text-align: center; 
	background-color: rgba(255, 99, 71, 1); 
	color: white; 
	padding: 10px;
}

#gallery-top{
	padding:0; 
	background-color:#f0ede1; 
	padding-top: 16px; 
	border-top: 3px dashed orange;
	border-bottom: 3px dashed orange;
}

#img-text-h3, #img-text, #text-none{
	text-align:center; color: rgba(255, 99, 71, 1);
}

#img-none{
	width: 100%; 
	display: block; 
	margin-bottom: -24px
}



/**on click img**/
 .sm-img-style{
	width: 100%; 
	display: inline; 
	padding: 15px; 
	padding-bottom: 2px; 
	padding-top: 2px; 
	
	}
	
	#img-h3-1, #img-h3-2, #img-h3-3, #img-h3-4, #img-h3-5, #img-h3-6{
	display: none;
}

#img-p1, #img-p2, #img-p3, #img-p4, #img-p5, #img-p6{
	display: none;
}


#B-gallery{
	position: relative; top: 132px;
}



/**m-gallery**/
#m-gallery{
	display: none;	
	position: relative; top: 60px;
    text-align: center;
}


#h3-mg{
    background-color: lightcoral;
    padding: 10px;
    color: white;
}


/**mobile**/

@media screen and (max-width: 576px) {



  }
  
  
@media screen and (max-width: 768px) { 
  #B-gallery{
	  display: none;
  }
  
  #m-gallery{
	  display: block;
  }


 }

  
  
 @media screen and (max-width: 992px) {
 
  }
  
 @media screen and (max-width: 1310px) {
	  .h2-gallery{
		  position: relative; top: 33px;
	  }
	  #B-gallery{
	position: relative; top: 75px;
}

 
  }
