/**NAV css**/
* {box-sizing: border-box}

body { 
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: white;
  padding: 26px 26px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: rgba(255, 99, 71, 1);
  color: white;
}

#navbar-center {
  position: relative; left:17%;
}


/**mobile-nav css**/

.topnav-m {
  overflow: hidden;
  position: relative;
  margin: -8px;
  display: none;
}

.topnav-m #myLinks {
  display: none;
  background-color: white;
  text-align: center;
}

.topnav-m a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav-m a.icon {
  background: rgba(255, 99, 71, 1);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  margin: 15px;
}

.topnav-m a:hover {
  background-color: white;
  color: black;
}

.active-m {
  background-color: rgba(255, 99, 71, 1);
  color: white;
}


/**mobile**/
@media screen and (max-width: 450px) {
	#logo-nav-mobile{
		width: 330px;
	}


  }


@media screen and (max-width: 576px) {


  }
  
  @media (min-width: 768px) {


  }

  @media screen and (max-width: 992px) {

 
  }
  
  @media screen and (max-width: 1310px) {
.topnav-m {
  display: block;
}
#navbar{
	display: none;
}
#myLinks a{
	font-size: 23px;
}

 
 
}
